In [6]:
import numpy as np
import pandas as pd

scores = np.random.randint(50, 101, size=(50,5))

df = pd.DataFrame(scores,
                columns = ["國文", "英文", "地理", "歷史", "氣候"],
                index = [f"stu{i}" for i in range(1, 51)]
                )

df ['國文']
df ['英文']
df [['英文', '地理']]

        英文  地理
stu1    92  54
stu2    76  85
stu3    53  74
stu4    93  92
stu5    91  96
stu6    76  76
stu7    74  57
stu8    81  76
stu9    83  63
stu10   71  52
stu11   88  50
stu12   67  55
stu13   81  92
stu14   80  53
stu15   83  62
stu16   75  84
stu17   55  62
stu18   99  90
stu19   87  83
stu20   60  65
stu21   95  56
stu22   59  57
stu23   98  91
stu24   60  68
stu25   84  68
stu26   60  92
stu27   71  91
stu28   96  74
stu29   81  82
stu30   92  63
stu31   70  80
stu32   84  91
stu33   70  53
stu34   53  85
stu35   84  58
stu36   79  71
stu37   61  50
stu38   71  62
stu39   93  98
stu40   99  99
stu41   50  96
stu42   77  80
stu43   89  59
stu44   85  87
stu45  100  52
stu46   77  67
stu47   75  91
stu48   56  76
stu49   94  74
stu50   89  77

In [11]:
df.loc ['stu47']
df.loc [['stu2','stu26']]

       國文  英文  地理  歷史  氣候
stu2   54  76  85  88  99
stu26  80  60  92  97  86

In [17]:
sum = df['國文'] + df['英文'] + df['地理'] + df['歷史'] + df['氣候']
df ['總分'] = sum
mean = sum / 5
df ['平均'] = mean
df

       國文   英文  地理  歷史  氣候   總分    平均
stu1   78   92  54  86  51  361  72.2
stu2   54   76  85  88  99  402  80.4
stu3   91   53  74  95  64  377  75.4
stu4   92   93  92  75  56  408  81.6
stu5   94   91  96  53  94  428  85.6
stu6   64   76  76  82  52  350  70.0
stu7   70   74  57  70  75  346  69.2
stu8   88   81  76  58  75  378  75.6
stu9   66   83  63  65  62  339  67.8
stu10  63   71  52  75  84  345  69.0
stu11  94   88  50  89  78  399  79.8
stu12  90   67  55  87  84  383  76.6
stu13  77   81  92  55  77  382  76.4
stu14  96   80  53  72  68  369  73.8
stu15  78   83  62  52  55  330  66.0
stu16  81   75  84  77  93  410  82.0
stu17  56   55  62  51  77  301  60.2
stu18  58   99  90  83  53  383  76.6
stu19  89   87  83  87  59  405  81.0
stu20  61   60  65  62  51  299  59.8
stu21  85   95  56  81  50  367  73.4
stu22  81   59  57  85  92  374  74.8
stu23  80   98  91  54  82  405  81.0
stu24  92   60  68  99  84  403  80.6
stu25  52   84  68  98  65  367  73.4
stu26  80   60  92  97  86  415  83.0
stu27  90   71  91  87  64  403  80.6
stu28  61   96  74  77  81  389  77.8
stu29  90   81  82  75  59  387  77.4
stu30  76   92  63  77  69  377  75.4
stu31  83   70  80  51  82  366  73.2
stu32  84   84  91  67  85  411  82.2
stu33  56   70  53  96  62  337  67.4
stu34  89   53  85  66  92  385  77.0
stu35  89   84  58  76  64  371  74.2
stu36  89   79  71  66  62  367  73.4
stu37  86   61  50  89  88  374  74.8
stu38  63   71  62  84  94  374  74.8
stu39  70   93  98  50  58  369  73.8
stu40  72   99  99  88  59  417  83.4
stu41  88   50  96  59  93  386  77.2
stu42  66   77  80  99  73  395  79.0
stu43  59   89  59  74  96  377  75.4
stu44  56   85  87  61  95  384  76.8
stu45  64  100  52  96  97  409  81.8
stu46  53   77  67  86  68  351  70.2
stu47  95   75  91  66  76  403  80.6
stu48  50   56  76  51  87  320  64.0
stu49  94   94  74  99  62  423  84.6
stu50  95   89  77  80  75  416  83.2

In [18]:
df.iloc[-10:,:5]

       國文   英文  地理  歷史  氣候
stu41  88   50  96  59  93
stu42  66   77  80  99  73
stu43  59   89  59  74  96
stu44  56   85  87  61  95
stu45  64  100  52  96  97
stu46  53   77  67  86  68
stu47  95   75  91  66  76
stu48  50   56  76  51  87
stu49  94   94  74  99  62
stu50  95   89  77  80  75