In [4]:
import numpy as np
import pandas as pd

data = {
    'apples' : [3, 2, 0, 1],
    'orange' : [0, 3, 7, 2]
}

pd.DataFrame(data, index=["第1","第2","第3","第4"])

    apples  orange
第1       3       0
第2       2       3
第3       0       7
第4       1       2

In [16]:
data = np.random.randint(50,101, size=(5,5))
df = pd.DataFrame(data, 
            index=["學生1","學生2","學生3","學生4","學生5"], 
            columns=["國文","英文","數學", "地理", "歷史"]
            )

df

     國文  英文   數學  地理  歷史
學生1  61  77   58  58  69
學生2  69  51   92  81  95
學生3  97  92   74  87  50
學生4  66  65   80  66  77
學生5  60  55  100  98  66

In [7]:
#依據欄位名稱的選取

df['國文']

學生1    87
學生2    81
學生3    70
學生4    53
學生5    66
Name: 國文, dtype: int32

In [10]:
df[['國文','英文']]

     國文  英文
學生1  87  53
學生2  81  50
學生3  70  87
學生4  53  76
學生5  66  87

In [17]:
#可以使用numpy的統計function
sum = np.sum(df, axis=1)
mean = np.mean(df, axis=1)

df['總分'] = sum
df['平均'] = mean

In [18]:
df

     國文  英文   數學  地理  歷史   總分    平均
學生1  61  77   58  58  69  323  64.6
學生2  69  51   92  81  95  388  77.6
學生3  97  92   74  87  50  400  80.0
學生4  66  65   80  66  77  354  70.8
學生5  60  55  100  98  66  379  75.8

In [19]:
#依據列的選取
#.loc[] -> 依據名稱
#.iloc[] -> 依據索引

df.loc['學生1']

國文     61.0
英文     77.0
數學     58.0
地理     58.0
歷史     69.0
總分    323.0
平均     64.6
Name: 學生1, dtype: float64

In [33]:
df.loc[['學生1', '學生2']]
df.iloc[0] #類似numpy的選取
df.iloc[:2]
df.iloc[0, :5]
df.iloc[:2, :5]

     國文  英文  數學  地理  歷史
學生1  61  77  58  58  69
學生2  69  51  92  81  95