In [1]:
#透過值的選取
#值得搜尋
#mask的技巧, 要使用比較運算子得到boolean的資料

import numpy as np
import pandas as pd

s1 = pd.Series(np.arange(50, 70))
s1

0     50
1     51
2     52
3     53
4     54
5     55
6     56
7     57
8     58
9     59
10    60
11    61
12    62
13    63
14    64
15    65
16    66
17    67
18    68
19    69
dtype: int64

In [3]:
mask = s1 >= 60
mask

0     False
1     False
2     False
3     False
4     False
5     False
6     False
7     False
8     False
9     False
10     True
11     True
12     True
13     True
14     True
15     True
16     True
17     True
18     True
19     True
dtype: bool

In [5]:
s1 [mask]

10    60
11    61
12    62
13    63
14    64
15    65
16    66
17    67
18    68
19    69
dtype: int64

In [6]:
s1 [s1 >60]

11    61
12    62
13    63
14    64
15    65
16    66
17    67
18    68
19    69
dtype: int64

In [7]:
#DataFrame
data = np.random.randint(50, 101,size=(5,5))
df = pd.DataFrame(data,
            index=["學生1","學生2","學生3","學生4","學生5"],
            columns=["國文","英文","數學","地理","歷史"])
df

      國文   英文  數學  地理  歷史
學生1   52  100  53  72  88
學生2  100   65  95  88  69
學生3   63   83  74  80  89
學生4   84   75  91  89  72
學生5   81   51  78  58  95

In [8]:
#選取歷史>=60
df[df['歷史'] >=60]

      國文   英文  數學  地理  歷史
學生1   52  100  53  72  88
學生2  100   65  95  88  69
學生3   63   83  74  80  89
學生4   84   75  91  89  72
學生5   81   51  78  58  95

In [11]:
#選取歷史>=60同時數學>=60
#使用位元邏輯運算子 (不能用and)
df [(df['數學'] >=60) & (df['歷史'] >=60)]

      國文  英文  數學  地理  歷史
學生2  100  65  95  88  69
學生3   63  83  74  80  89
學生4   84  75  91  89  72
學生5   81  51  78  58  95